<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OAuth</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home Page</a></li>
        </ul>
    </nav>
    <header>
        <h1>OAuth</h1>
        <h2>Home Page</h2>
    </header>
    <main>
        <p>Best OAuth ever</p>
    </main>
</body>

</html>